<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Baby Shark</title>
    <link rel="stylesheet" href="../public/styles/about-us.css">
</head>
<body>
    <header>
        <nav>
          <a href="main-page.html"><img src="../public/logo/logo.png" alt="Baby Shark Logo" class="logo"></a>
        </nav>
    </header>
    <main>
        <section class="about">
            <h1 class="about-us">About Us</h1>
            <p>Welcome to Baby Shark, your go-to platform for managing resources related to childcare! We understand the joys and challenges of parenting, which is why we've created an intuitive and comprehensive system to help families navigate the journey of raising children.</p>
            <p>Our team is passionate about providing parents and caregivers with the tools they need to ensure the well-being and development of their little ones. With features like feeding and sleep schedules, multimedia resources, medical history tracking, and more, Baby Shark simplifies the process of caring for your child.</p>
            <p>Whether you're a new parent, experienced caregiver, or anyone in between, Baby Shark is here to support you every step of the way. Join our community today and embark on the adventure of parenthood with confidence!</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Baby Shark</p>
    </footer>
</body>
</html>