<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Shark - Main Page</title>
    <link rel="stylesheet" href="../public/styles/main-page.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script defer src="../public/scripts/logout.js"></script>
    <script defer src="../public/scripts/mainpage.js"></script>
    <script defer src="../public/scripts/post-popup.js"></script>
</head>
<body>
    <div class="grid-box">
        <div class="grid-section header">
            <div class="logo">
                <img src="../public/logo/logo.png" alt="Logo">
            </div>
            <div class="header-right">
                <span id="usernameDisplay" class="username">@username</span>
                <a href="start-page.html" class="logout-button" id="logoutButton">Log out</a>
            </div>
        </div>
        <div class="grid-section pic-buttons">
            <div class="button add-on-this-website" id="addButton">Add on this website</div>
            <a href="see-memorable.html" class="button see-memorable">See Memorable</a>
            <div class="button add-on-social-media">Add on social media</div>
        </div>
        <div class="grid-section left-sidebar">
            <a href="sleeping-schedule-form.html" class="button sleeping-schedule">Sleep</a>
            <a href="eating-schedule-form.html" class="button eating-schedule">Meals</a>
            <a href="medical.html" class="button medical">Medical</a>
            <a href="friend-list.html" class="button friendship">Friends</a>
            <a href="about-us.html" class="button about-us">About us</a>
        </div>
        <div class="grid-section scroll-section">
            <div class="square-container">
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeButton">&times;</span>
            <h2>Add Picture/Video</h2>
            <form id="uploadForm" enctype="multipart/form-data">
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
                <label for="tags">Tags (use @username#code, separated by commas):</label>
                <input type="text" id="tags" name="tags" placeholder="@username#code, @anotheruser#code">
                <label for="file" class="buttons">Choose a file:</label>
                <input type="file" id="file" name="file" accept="image/*,video/*,audio/*" required>
                <input type="submit" value="Submit" class="buttons">
            </form>
            
        </div>
    </div>
</body>
</html>
