<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleeping Schedule</title>
    <link rel="stylesheet" href="../public/styles/sleeping-schedule.css">
    <link rel="stylesheet" href="https://unpkg.com/fullcalendar@5.11.0/main.min.css">
    <script src="https://unpkg.com/fullcalendar@5.11.0/main.min.js"></script>
    <script src="../public/scripts/resetForms.js" defer></script>
    <script src="../public/scripts/sleeping-schedule.js" defer></script>
</head>
<body>
    <div class="header"> 
        <div class="logo">
            <a href="main-page.html"><img src="../public/logo/logo.png" alt="Baby Shark Logo" class="logo"></a>
        </div>  
    </div>
    <div class="sidebar">
        <button class="plus-button">+</button>
        <a href="javascript:void(0);" class="refill-sleep-button">Refill Information</a>
    </div>
    <div class="content">
        <div class="navbar"></div>
        <div id='calendar'></div>
    </div>
</body>
</html>
