body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
}

.grid-section {
  background-color: #e5f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}

.header {
  grid-row: 1;
}

.logo {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 60px; 
}

.logo img {
  max-height: 100%; 
  width: auto;
}

.title-section {
  background-color: white;
  grid-row: 2;
  width: 80%;
  margin: 0 auto;
  text-align: center; /* Center align the content */
}

.grid-title {
  font-size: 24px;
  margin-bottom: 10px; /* Add some spacing below the title */
}

#searchForm {
  display: flex;
  justify-content: center; /* Center align the form */
  gap: 10px; /* Add some spacing between the input and button */
}

#friendTag {
  padding: 5px;
  font-size: 16px;
  width: 200px; /* Adjust width as needed */
}

#searchForm button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.media-container-section {
  grid-row: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding-top: 10px; 
}

.media-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-section img {
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  max-width: 100%;
  height: auto;
}

.media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.date, .description {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.upload-image,
.upload-video,
.upload-audio {
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .media-section {
      padding: 0 1vw;
  }

  .media-section img {
      margin: 3px 0;
  }

  .media-container {
      padding: 5vw;
  }
}
