* {
  margin: 0;
  border: 0;
}

body {
  color: #151B8D;
  background-color: #72b0c9;
  height: 100vh;
  margin: 0;
}

.container{
    width: 100vw; 
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* toate la mijloc*/
    align-items: center; /* C */
}
.header {
  top:0;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em; /* using ems for padding */
  background-image: linear-gradient(to bottom, #ffffff, #72b0c9);
}

.header .logo img {
  height: 7vw; /* Responsive based on viewport width */
  width: auto; /* Maintain aspect ratio */
}

.header .navigation a {
  text-decoration: none;
  color: #007BFF; /* Bright blue, adjust color as needed */
  font-size: 1.2em; /* Responsive font size using em */
  padding: 0.5em 1em; /* Padding using ems */
  border-radius: 0.3em;
  transition: background-color 0.3s;
}

.header .navigation a:hover {
  background-color: #0056b3; /* Darker blue on hover */
  color: white;
}

.about-button {
  flex: 0 0 15vw; /* Adjust button size relative to viewport width */
  margin-left: auto;
}
/* Existing CSS for body, .header, .logo, etc. remains unchanged */
.navigation{
  margin-right: 10px;
}

.log-in,
.sign-up {

  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d0efee;
  border-radius: 1vw;
  width: 50vw;
 
  z-index: 3; /* Ensure they appear above other content */
  height: 40vh;
  margin-top: 15vh;
}

h1 {
  text-align: center;
}

label {

  margin-bottom: 0.5vw; /* Adjust label margin to vw */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;

  border: 0.1vw solid #ccc; /* Border size in vw */
  border-radius: 0.3vw; /* Border radius in vw */
  box-sizing: border-box;
}

.buttons {
  width: 25vw; /* Convert button width to viewport width for responsiveness */

  text-align: center;
  margin: 2vw; /* Convert margin to viewport units for responsiveness */

  border-radius: 2.5vw; /* Convert border-radius to viewport units */
  font-weight: bold;
  border: 0.2vw solid #009688; /* Convert border width to viewport units */
  background: transparent;
  cursor: pointer;
}

.buttons:hover {
  background-color: #6790e7;
}

.about-us {

  width: 99vw; /* Consistent width with the header */
  height: 70vh; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3vw; /* Adjust overall margin to viewport units */

}

.info {
  width: 97vw; /* Make info blocks responsive to viewport width */
  height: 30vh; /* Adjust info block height relative to viewport height */
  background-color: rgba(245, 236, 226, 0.687);
  margin: 0.5vw; /* Adjust margin to viewport units */
  border-radius: 1vw; /* Convert border-radius to viewport units */
}
